.list-enter-active,
.list-leave-active,
.list-move {
  transition: opacity 0.7s, transform 0.7s;
}
.list-leave-active {
  position: absolute;
}
.list-enter-to {
  transform: translateX(0);
}
.list-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.list-leave-to {
  opacity: 0;
}
.list-leave-from {
  opacity: 0;
  height: 0;
}
.listReverse-enter-active,
.listReverse-leave-active,
.listReverse-move {
  transition: opacity 0.7s, transform 0.7s;
}
.listReverse-leave-active {
  position: absolute;
}
.listReverse-enter-to {
  transform: translateX(0);
}
.listReverse-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.listReverse-leave-to {
  opacity: 0;
}
.listReverse-leave-from {
  opacity: 0;
  height: 0;
}